<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Up Car</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" th:href="@{/image/favicon.png}" />


    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css(v=${version}) }" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
    <!-- jQueryUI (autocomplete) -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <!-- Icons fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style-home.css(v=${version}) }" rel="stylesheet" />


</head>
<body>
<header th:replace="~{fragments/header :: cabecalho}">
    <div>header</div>
</header>

    <section class="jumbotron text-center">
        <img class="d-block mx-auto" th:src="@{/image/logo1.png}"
             width="72" height="72">
    </section>

    <div class="page-header">
        <nav class="navbar navbar-expand-md navbar-top bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span>Cadastrar Cliente</span>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary btn-md" th:href="@{/clientes/listar}" role="button">
                <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
                <span>Listar Clientes</span>
            </a>
        </nav>
    </div>

    <div class="container" id="cadastro">

        <div th:replace="~{fragments/alert2}"></div>

        <form th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}"
              th:object="${cliente}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome do Cliente</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
                           autofocus="autofocus" th:field="*{nome}"
                           th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{nome}"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email"
                           placeholder="name@example.com" th:field="*{email}"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{email}"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" th:field="*{telefone}"  placeholder="Telefone do cliente" data-mask="(00)00000-0000"

                           th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{telefone}" ></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="tipoCliente">Tipo do Cliente</label>
                    <select id="tipoCliente" class="form-control" th:field="*{tipoCliente}"
                            th:classappend="${#fields.hasErrors('tipoCliente')} ? 'is-invalid'">
                        <option value="">Selecione...</option>
                        <option th:each="tipoCliente : ${tiposDeCliente}"
                                th:value="${tipoCliente}" th:text="${tipoCliente.tipo}"></option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{tipoCliente}"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6" style="display: none;" id="campoCpf">
                    <label for="floatingInputCpf">CPF</label>
                    <input autocomplete="off" maxlength="14" name="cpf" type="text" class="form-control" id="floatingInputCpf" data-mask="000.000.000-00"
                           placeholder="CPF do cliente">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" style="display: none;" id="campoCnpj">
                    <label for="floatingInputCnpj">CNPJ</label>
                    <input autocomplete="off" maxlength="18" name="cnpj" type="text" class="form-control" id="floatingInputCnpj" data-mask="00.000.000/0000-00"
                           placeholder="CNPJ do cliente">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" th:field="*{endereco.cidade}"
                           th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.cidade}" ></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro"
                           placeholder="logradouro sem número" th:field="*{endereco.logradouro}"
                           th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.logradouro}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"
                           th:classappend="${#fields.hasErrors('endereco.numero')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.numero}"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento"
                           placeholder="fundos, casa, AP. 102, .." th:field="*{endereco.complemento}"
                           th:classappend="${#fields.hasErrors('endereco.complemento')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.complemento}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"
                           th:classappend="${#fields.hasErrors('endereco.bairro')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.bairro}"></span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="uf">UF</label>
                    <select id="uf" class="form-control" th:field="*{endereco.uf}"
                            th:classappend="${#fields.hasErrors('endereco.uf')} ? 'is-invalid'">
                        <option value="">Selecione...</option>
                        <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}"></option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.uf}"></span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="cep">Cep</label>
                    <input type="text" class="form-control" id="cep" data-mask="00000-000"
                           th:field="*{endereco.cep}"
                           th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>
                    <div class="invalid-feedback">
                        <span th:errors="*{endereco.cep}"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="id" th:field="*{id}"/>
            <input type="hidden" id="endereco.id" th:field="*{endereco.id}"/>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </form>
    </div>
<footer th:replace="~{fragments/footer :: rodape}">
    <div>footer</div>
</footer>
<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>

<!-- jQueryUI (autocomplete) -->
<script src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
<!-- 	Datatables JS -->
<script	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script	src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script th:src="@{/js/validacaoNovoCliente.js}" type="text/javascript"></script>
</section>

</body>
</html>