<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos :: cabecalho}"></head>

<body>
    <nav th:replace="~{fragmentos :: header}"></nav>
    <div class="container mt-4">
        <div class="row align-itens-center">
            <div class="shadow-sm col-md-10 col-lg-8 p-4 border rounded-3 mx-auto bg-light">


                <h3>Cadastrar cliente</h3>
                <form action="/view/clientes" method="POST">
                    <div class="form-floating mb-3">
                        <input name="nome" type="text" class="form-control" id="floatingInputNome"
                               placeholder="Nome do cliente">
                        <label for="floatingInputNome">Nome</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input name="tel" type="text" class="form-control" id="floatingInputTelefone"
                                       placeholder="Telefone do cliente">
                                <label for="floatingInputTelefone">Telefone</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input name="email" type="email" class="form-control" id="floatingInputEmail"
                                       placeholder="name@example.com">
                                <label for="floatingInputEmail">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="tipo" class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option selected>Escolha pessoa física ou jurídica</option>
                            <option value="PF">Pessoa física</option>
                            <option value="PJ">Pessoa jurídica</option>
                        </select>
                        <label for="floatingSelect">Tipo</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>