<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th=http://www.thymeleaf.org>

<head th:replace="~{fragmentos :: cabecalho}"></head>
<body>
  <nav th:replace="~{fragmentos :: header}"></nav>
  <div class="container">
    <div class="row mb-3" style="margin-top: 10px;">
      <h3 class="col">Clientes cadastrados:</h3>
      <div class="col" style="text-align: center;">
        <a href="/view/clientes/SaveNewCliente" class="btn btn-primary">Cadastrar cliente</a>
      </div>
    </div>
    <div class="border rounded overflow-auto" style="height: 60vh;">
      <table class="table table-light table-hover table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Categoria</th>
          <th scope="col" style="text-align: center;">Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
          <th th:text="${cliente.id}"></th>
          <td th:text="${cliente.nome}"></td>
          <td th:text="${cliente.cpf}"></td>
          <td th:text="${cliente.email}"></td>
          <td th:text="${cliente.telefone}"></td>
          <td th:text="${cliente.categoria}"></td>
          <td style="text-align: center;">
            <a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
               th:data-bs-target="'#exampleModal'+${cliente.id}">X</a>

            <!-- Modal -->
            <div class="modal fade" th:id="*{'exampleModal'+ {cliente.id}}" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Atenção!
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a
                            th:text="'Deseja realmente excluir o cadastro de '+${cliente.nome}+'?'"></a>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Cancelar
                    </button>
                    <a th:href="@{/view/clientes/{clienteid}/deletarCliente(clienteid = ${cliente.id})}"
                       class="btn btn-primary">Confirmar</a>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</body>
</html>