<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Up Car</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" th:href="@{/image/favicon.png}" />

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css(v=${version}) }" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
<!-- jQueryUI (autocomplete) -->
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{/css/style-home.css(v=${version}) }" rel="stylesheet" />


</head>
<body>
    <header th:replace="~{fragments/header :: cabecalho}">
        <div>header</div>
    </header>
    <section class="jumbotron text-center">
        <img class="d-block mx-auto" th:src="@{/image/logo1.png}"
             width="72" height="72">
        <div class="container">
            <h1 class="jumbotron-heading">UP CAR</h1>
            <p class="lead text-muted">CARROS</p>
        </div>
    </section>

    <nav class="navbar navbar-expand-md navbar-top bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Cadastro de Carros</span>
                </li>
            </ul>
        </div>
        <a class="btn btn-primary btn-md" th:href="@{/}" role="button">
            <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
            <span>Listar Carros</span>
        </a>
    </nav>
    <div class="container" id="cadastro">

        <div th:replace="~{fragments/alert2}"></div>

        <form th:action="${carro.id == null} ? @{/carros/salvar} : @{/carros/editar}"
              th:object="${carro}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="marca">Marca do Carro</label>
                    <input type="text" class="form-control" id="marca" placeholder="Marca do carro"
                           autofocus="autofocus" th:field="*{marca}"
                           th:classappend="${#fields.hasErrors('marca')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{marca}"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="modelo">Modelo do Carro</label>
                    <input type="text" class="form-control" id="modelo"
                           placeholder="Modelo do Carro" th:field="*{modelo}"
                           th:classappend="${#fields.hasErrors('modelo')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{modelo}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cor">Cor do Carro</label>
                    <input type="text" class="form-control" id="cor" placeholder="Cor do carro"
                           autofocus="autofocus" th:field="*{cor}"
                           th:classappend="${#fields.hasErrors('cor')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{cor}"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="placa">Placa do Carro</label>
                    <input type="text" class="form-control" id="placa"
                           placeholder="Placa do Carro" th:field="*{placa}"
                           th:classappend="${#fields.hasErrors('placa')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{placa}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="km_rodado">Km Rodado</label>
                    <input type="text" class="form-control" id="km_rodado" placeholder="Quantidade de KM rodado do carro"
                           autofocus="autofocus" th:field="*{km_rodado}"
                           th:classappend="${#fields.hasErrors('km_rodado')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{km_rodado}"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="anoFabricacao">Ano de Fabricação do Carro</label>
                    <input type="text" class="form-control" id="anoFabricacao"
                           placeholder="2023" th:field="*{anoFabricacao}"
                           th:classappend="${#fields.hasErrors('anoFabricacao')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{anoFabricacao}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="tipoCombustivel1">Tipo do Combustivel</label>
                    <select id="tipoCombustivel1" class="form-control" th:field="*{tipoCombustivel1}"
                            th:classappend="${#fields.hasErrors('tipoCombustivel1')} ? 'is-invalid'">
                        <option value="">Selecione...</option>
                        <option th:each="tipoCombustivel1 : ${tiposDeCombustiveis}"
                                th:value="${tipoCombustivel1}" th:text="${tipoCombustivel1.tipoDoCombustivel}"></option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{tipoCombustivel1}"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="tipoCombustivel2">Tipo do Combustivel</label>
                    <select id="tipoCombustivel2" class="form-control" th:field="*{tipoCombustivel2}"
                            th:classappend="${#fields.hasErrors('tipoCombustivel2')} ? 'is-invalid'">
                        <option value="">Selecione...</option>
                        <option th:each="tipoCombustivel2 : ${tiposDeCombustiveis}"
                                th:value="${tipoCombustivel2}" th:text="${tipoCombustivel2.tipoDoCombustivel}"></option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{tipoCombustivel2}"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="descricao">Descrição do Carro</label>
                    <textarea class="form-control" id="descricao" name="descricao"
                              placeholder="Algo sobre o carro..."></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="preco">Preço do Carro</label>
                    <input type="text" class="form-control" id="preco" name="preco" placeholder="ex.: 59,99"
                           data-mask="#.##0,00"
                           data-mask-reverse="true"/>
                    <div id="error-preco" class=""></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="linkImagem">Link da imagem do Carro</label>
                    <input type="text" class="form-control" id="linkImagem" placeholder="Link da imagem do Carro"
                           autofocus="autofocus" th:field="*{linkImagem}"
                           th:classappend="${#fields.hasErrors('linkImagem')} ? 'is-invalid'" />
                    <div class="invalid-feedback">
                        <span th:errors="*{linkImagem}"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="id" th:field="*{id}"/>
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </form>
    </div>
    <footer th:replace="~{fragments/footer :: rodape}">
        <div>footer</div>
    </footer>
    <!-- Bootstrap core JavaScript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
    <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>

    <!-- jQueryUI (autocomplete) -->
    <script src='http://code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
    <!-- 	Datatables JS -->
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script	src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    </section>

</body>
</html>