<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th=http://www.thymeleaf.org lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="vendedor" th:object="${vendedor}">
        <span th:text="*{'Id: '+id}"/> <br>
        <span th:text="*{'Nome: '+nome}"/><br>
        <span th:text="*{'Telefone: '+telefone}"/><br>
        <span th:text="*{'CPF: '+cpf}"/><br>
        <span th:text="*{'Tipo: '+categoria}"/><br>
        <span th:text="*{'Email: '+email}"/>
    </div>
</body>
</html>