<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
    <main role="main">

      <section class="jumbotron text-center">
        <img class="d-block mx-auto mb-4" th:src="@{/image/logo1.png}">
        <div class="container">
          <p class="lead text-muted">Bem-vindo à nossa concessionária de carros,
            onde estamos comprometidos em fornecer aos nossos clientes a melhor experiência
            de compra de carro possível. Nós entendemos que a compra de um carro é uma grande
            decisão e estamos aqui para ajudá-lo em todas as etapas do processo.</p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row" th:insert="carroCard"></div>
        </div>
      </div>
    </main>
</section>
<script th:src="~{}" th:fragment="js"></script>
<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>